.background-image-downloader_inner div,
.background-image-downloader_inner a,
.background-image-downloader_inner img {
    all: initial;
}

.background-image-downloader_dialog{
	padding: 25px;
    border: 0px;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px 3px;
    border-radius: 3px;
    overflow: hidden;
}
.background-image-downloader_dialog::backdrop{
    background: rgba(0,0,0,0.5);
}
div.background-image-downloader_inner{
	max-width: 600px;
}
.background-image-downloader_inner a.background-image-downloader_link{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: black;
    text-decoration: underline;
}
.background-image-downloader_inner a.background-image-downloader_link:hover{
    text-decoration: none;
}
.background-image-downloader_inner img.background-image-downloader_image{
	max-width: 100px;
	cursor: pointer;
    align-self: center;
}
.background-image-downloader_inner img.background-image-downloader_image:hover {
	opacity: 0.8;
    background: black;
}
.background-image-downloader_inner div.background-image-downloader_contentBlock{
    padding: 16px 24px;
}
.background-image-downloader_inner div.background-image-downloader_contentBlock{
    display: block;
    background: #f5f5f5;
    overflow: hidden;
}
.background-image-downloader_inner div.background-image-downloader_contentBlock-text{
    background: white;
    color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
}
.background-image-downloader_inner div.background-image-downloader_images{
    min-height: 100px;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
	flex-flow: row wrap;
    max-height: 500px;
    max-width: 600px;
    overflow: auto;
}

.background-image-downloader_inner div.background-image-downloader_button {
    background: #3498db;
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    border-radius: 28px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    display: block;
    float: right;
}

.background-image-downloader_inner div.background-image-downloader_button {
    background: #3cb0fd;
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}
.background-image-downloader_inner div.background-image-downloader_header{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
}
.background-image-downloader_inner div.background-image-downloader_header-bold{
    font-weight: bold;
}